

.displayed-projects-for-users {
    display: grid;
	grid-template-columns:repeat(3, 1fr) ;
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 1em;
	flex-wrap: wrap;
    justify-content: center;
}

.project-card-match-page{
    float: left;
	width: 35em;
	border-radius: 7em;
	height: 45em;
	object-fit: cover;
	margin: 10px;
}

.project-image{
    float: center;
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 1em;
}