

.displayed-projects-for-users {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
}

.project-card-match-page{
	float: left;
    width: 17em;
    border-style: ridge;
    border-width: 1px;
    margin: 10px;
    border-radius: 1em;
    flex: 1 0 300px;
}

.project-image{
    float: center;
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 1em;
}