.project-card {
    float: left;
    width: 17em;
    border-style: ridge;
    border-width: 1px;
    margin: 10px;
    border-radius: 1em;
    flex: 1 0 300px;

}

.project-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;

}