.project-card {
    float: left;
    width: 17em;
    border-style: ridge;
    border-width: 1px;
    margin: 1em;
    border-radius: 1em;

}

.project-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}