.user-card{
    float: left;
    width: 12em;
    border-style: ridge;
    border-width: 1px;
    margin: 1em;
    border-radius: 1em;

}

.user-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}